
.container{
  text-align: center;
}
.container .btn{
  padding: 10px 60px;
  outline: none;
  position: absolute;
  top: 300px;
  left: 650px;
background-color: cadetblue;
 font-size: 18px;
 border-radius: 10px;
}

.popup{
background:linear-gradient(yellow,orange);
max-width: 40%;
border-radius: 20px;
justify-content: center;
align-items: center;
position: absolute;
top: 0;
left: 50%;
transform: translate(-50%,-50%) scale(0.1);
padding: 0 30px 30px;
visibility: hidden;
transition: transform 0.4s , top 0.4s;
}

.popup.open{
  visibility: visible;
  top: 50%;
transform: translate(-50%,-50%) scale(1);
}

.popup img{
  width: 100px;
  padding: 10px;
   border-radius: 20px;
}
